# Dependencies
node_modules/
uploads/

# Environment variables
.env
.env.local

# Build output
dist/
build/

# Logs & coverage
*.log
coverage/

# Databases
*.sqlite
data/
*.bson

# Temp files
tmp/
temp/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
